@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #2563eb;
  --color-primary-dull: #3b82f6;
  --color-secondary: #10b981;
  --color-secondary-dull: #34d399;
  --color-accent: #f59e0b;
  --color-accent-dull: #fbbf24;
  --color-background: #f3f4f6;
  --color-surface: #ffffff;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;
}